<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747476120330-av1b3sv0oc8pd2ap8ikk7m7jsnh6bh10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747476120330-av1b3sv0oc8pd2ap8ikk7m7jsnh6bh10</string>
	<key>API_KEY</key>
	<string>AIzaSyBchrEpZHtN5P4xHBoRBmzvXY2tJWawNRs</string>
	<key>GCM_SENDER_ID</key>
	<string>747476120330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bkart21.Messenger-Clone</string>
	<key>PROJECT_ID</key>
	<string>messenger-8ab09</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-8ab09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747476120330:ios:8cd76e58cd5c5c5c9700f3</string>
</dict>
</plist>